<?xml version="1.0" encoding="UTF-8"?>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>数据统计表</title>
    <title></title>
    <!-- 如果不使用base,那么这种方式也是可以的,@{/你的文件路径},缺陷就是每次引用都必须带上th:src="@{/}"这个才能正确引用,具体用什么方式,看你们自己 -->
    <link rel="stylesheet" th:href="@{/assets/libs/layui/css/layui.css}">
    <script  type="text/javascript" th:src="@{/assets/libs/layui/layui.all.js}"></script>
    <script  type="text/javascript" th:src="@{/assets/js/common.js}"></script>
    <script  type="text/javascript" th:href="@{/assets/libs/jquery/jquery-3.2.1.min.js}"></script>
</head>

<body>
<div class="layui-form-item">
    <div class="layui-inline">
        <label class="layui-form-label">60级武器</label>
        <div class="layui-input-inline" style="width: 100px;">
            <input type="text" name="price_min" placeholder="￥" autocomplete="off" class="layui-input">
        </div>
        <label class="layui-form-label">70级武器</label>
        <div class="layui-input-inline" style="width: 100px;">
            <input type="text" name="price_min" placeholder="￥" autocomplete="off" class="layui-input">
        </div>
        <label class="layui-form-label">80级武器</label>
        <div class="layui-input-inline" style="width: 100px;">
            <input type="text" name="price_min" placeholder="￥" autocomplete="off" class="layui-input">
        </div>
    </div>
</div>

<script>

    layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element', 'slider'], function(){
        var laydate = layui.laydate //日期
            ,laypage = layui.laypage //分页
            ,layer = layui.layer //弹层
            ,table = layui.table //表格
            ,carousel = layui.carousel //轮播
            ,upload = layui.upload //上传
            ,element = layui.element //元素操作
            ,slider = layui.slider //滑块
        //向世界问个好
        layer.msg('Hello World');




    });
</script>
</body>

</html>