<script type="text/javascript" src="${ctxPath }/static/assets/libs/layui/layui.js"></script>
<script type="text/javascript" src="${ctxPath }/static/assets/js/common.js"></script>
<script type="text/javascript" src="${ctxPath }/static/assets/js/sockjs.min.js"></script>
<script type="text/javascript" src="${ctxPath }/static/assets/js/stomp.min.js"></script>
<script type="text/javascript" src="${ctxPath }/static/assets/js/xm-select.js"></script>
<script type="text/javascript" src="${ctxPath }/static/assets/js/zdwry.js"></script>