<?xml version="1.0" encoding="UTF-8"?>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>数据统计表</title>
    <link rel="stylesheet" th:href="@{/assets/libs/layui/css/layui.css}">
    <script  type="text/javascript" th:src="@{/assets/libs/layui/layui.all.js}"></script>
    <script  type="text/javascript" th:src="@{/assets/js/common.js}"></script>

    <script  type="text/javascript" th:src="@{/assets/js/qrcode.js}"></script>
    <script  type="text/javascript" th:href="@{/assets/libs/jquery/jquery-3.2.1.min.js}"></script>
</head>

<body>
<div class="layui-form-item">
    <div class="layui-inline">
        <label class="layui-form-label">范围</label>
        <div class="layui-input-inline" style="width: 100px;">
            <input type="text" name="price_min" placeholder="￥" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid">-</div>
        <div class="layui-input-inline" style="width: 100px;">
            <input type="text" name="price_max" placeholder="￥" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div id="code"></div>
    <img id="img"/>
    <script type="text/javascript">

    </script>
</div>

<script>

    layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element', 'slider'], function(){
        var laydate = layui.laydate //日期
            ,laypage = layui.laypage //分页
            ,layer = layui.layer //弹层
            ,table = layui.table //表格
            ,carousel = layui.carousel //轮播
            ,upload = layui.upload //上传
            ,element = layui.element //元素操作
            ,slider = layui.slider //滑块
        //向世界问个好
        layer.msg("asdfasdf");
        var qrcode=$("#code").qrcode({
            render:'canvas||table',
            width: 200, //宽度
            height:200, //高度
            text: "http://www.baidu.com" //任意内容
        }).hide();
        var canvas=qrcode.find('canvas').get(0);
        //如果有循环,此句必不可少 qrcode.find('canvas').remove();
        var data = canvas.toDataURL('image/jpg');
        $('#img').attr('src',data) ;
        saveFile(data,"fd范德萨范德萨");
        //转为图片的方法,需要上门的data
        function saveFile(data,filename){
            var save_link=document.createElementNS('http://www.w3.org/1999/xhtml', 'a');
            save_link.href=data;
            save_link.download=filename;
            var event=document.createEvent('MouseEvents');
            event.initMouseEvent('click',true,false,window,0,0,0,0,0,false,false,false,false,0,null);
            save_link.dispatchEvent(event);
        };



    });
</script>
</body>

</html>